html, body { height: 100%; }

body {
    background: radial-gradient(circle, lemonchiffon, black 25%, skyblue);

}

body:after {
    content: '';
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: radial-gradient(circle, transparent, black 25%, transparent);
    animation: color 1.5s infinite ease-out alternate;
    opacity: 0;
}

@keyframes color {
    0% {  background: radial-gradient(circle, transparent, black 25%, transparent); }
    100% { opacity: 1; }
}