@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

html::-webkit-scrollbar {
	display: none;
  }

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.underline-magical {
	@apply bg-gradient-to-r from-red-600 to-red-600 bg-no-repeat dark:text-gray-200
	no-underline [background-position:0_100%]
	[background-size:100%_0.15em] focus:[background-size:100%_100%]
	hover:[background-size:100%_100%] motion-safe:transition-all
	motion-safe:duration-300 dark:from-red-600 dark:to-red-600;
}

.horizontal-underline {
	border-bottom-width: 0;
	background-image: linear-gradient(transparent, transparent), linear-gradient(#E60026, #E60026);
	background-size: 0 1px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out;
  }
  
  .horizontal-underline:hover {
	background-size: 100% 3px;
	background-position: 0 100%;
  }
  
  .horizontal-underline-active {
	background-size: 100% 3px;
	background-position: 0 100%;
  }
  
  #nprogress .bar {
	background: #E60026 !important;
	height: 4px !important;
  }

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.bg-style {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1; /* Optional for extra control over stacking order */
  }
  
